---

```yaml
cdate: {{ .datetime }}
{{- if .tags }}
tags: [ {{ .tags }} ]
{{- end }}
{{- if .lang }}
lang: {{ .lang }}
{{- end }}
```
{{ if .desc }}
{{ .desc }}
{{ end }}
```{{ if .lang }}{{ .lang }}{{ end }}
{{ trim .input }}
```

